In [6]:
s1='python'
s2="python"
s3='''python'''
s4="""python"""
print(s1,s2,s3,s4)
print(type(s1),type(s2),type(s3),type(s4))

python python python python
<class 'str'> <class 'str'> <class 'str'> <class 'str'>

In [9]:
s5="hello python"
print(s5)
s6='"hello python"'
print(s6)

hello python
"hello python"

In [13]:
s7='welcome to python class'
print(s7)
s8='''welcome to python class'''
print(s8)
s8

welcome to python class
welcome to python class

'welcome to python class'

In [16]:
s9='''hi 
welcome '''
print(s9)
s9

hi
welcome

'hi \nwelcome '

In [18]:
s10='I don\'t want tea'
print(s10)

I don't want tea

In [20]:
s1[0],s1[1],s1[2]

('p', 'y', 't')

In [29]:
s1[0:3:1] #s1[0],s1[1],s1[2]
s1[:3:]

'pyt'

In [26]:
s1[3:6:1] #s1[3],s1[4],s1[5]

'hon'

In [34]:
print(s1[::2])
print(s1[::3]) #s1[0],s1[3]
print(s1[2:6:4])
print(s1[:6:4]) #s1[0],s1[4]

pto
ph
t
po

In [36]:
s1[-1],s1[-3] #s1[5],s1[3]

('n', 'h')

In [37]:
len(s1)

6

In [42]:
print(s1[-1::-1]) #s1[-1],s1[-1+(-1)]
print(s1[::-1])
print(s1[:-4:-1])

nohtyp
nohtyp
noh

In [43]:
print(s7)

welcome to python class

In [45]:
len(s7)

23

In [52]:
print(s7[0:23:1])
print(s7[8:23:1])
print(s7[:23:2])
print(s7[-1:-10:-1])

welcome to python class
to python class
wloet yhncas
ssalc noh

In [59]:
s1=77
print(s1)
s9='hallo'
s9[1]='e' #immutable
s9="hello"
print(s9)

77

TypeError: 'str' object does not support item assignment

In [63]:
s9="hello"
print(s9)

hello

In [66]:
print("2==3",2==3)
print("2!=3",2!=3)
print("5>6",5>6)
print("-5>-8",-5>-8)
print("0>1",0>1)
print("1>-88",1>-88)

2==3 False
2!=3 True
5>6 False
-5>-8 True
0>1 False
1>-88 True

In [71]:
print(0==0.0)
print(5==True)
print(-10==False)
print(0==True)
print("49"==49)
print(7>True)
print(7>False)

True
False
False
False
False
True
True

In [73]:
#how to read input from keyboard
name=input("enter your name:")
print(name)

enter your name:hi
hi

In [32]:
Firstname=input("enter 1st name: ")
Lastname=input("enter last name:")

enter 1st name: subhashini
enter last name:g

In [33]:
print(Firstname+' '+Lastname)
print(Lastname,Firstname)
print(Lastname+'.'+Firstname)

subhashini g
g subhashini
g.subhashini

In [ ]:
n1=input("enter 1st integer")
n2=input("enter 2nd integer")
print(type(n1))
print(type(n2))
print(int(n1)+int(n2))

In [2]:
n1=input("enter 1st integer")
n2=input("enter 2nd integer")
print(type(n1))
print(type(n2))
print(int(n1)+int(n2))

print(type(n1))
print(type(n2))
print(int(n1)+int(n2))

enter 1st integer1
enter 2nd integer2
<class 'str'>
<class 'str'>
3

In [5]:
n1=input("enter 1st integer")
n2=input("enter 2nd integer")
n1=int(n1)
n2=int(n2)
print(n1+n2)

enter 1st integer10
enter 2nd integer5
15

In [11]:
n=int(input("enter a number: "))
word=input("enter a string:")
print(n*word)

enter a number: 5
enter a string:hi
hihihihihi

In [13]:
'a' in 'python'

False

In [16]:
range(5) #0,1,2,3,4
range(1,5) #1,2,3,4

for i in range(5):
print(i)

IndentationError: expected an indented block (<ipython-input-16-4cf5f3899f7c>, line 4)

In [18]:
s1='python'
for i in s1:
    print(i)

p
y
t
h
o
n

In [20]:
for i in range(5):
    print(i)
    print('end')

0
end
1
end
2
end
3
end
4
end

In [21]:
for i in range(5):
    print(i)
print('end')

0
1
2
3
4
end

In [24]:
for i in s1:
    print(i,end ='')

python

In [26]:
for i in s1:
    print(i,end =' ')

p y t h o n

In [29]:
print(33,45,sep=',')
print(33,45)

33,45
33 45

In [35]:
print(Firstname,Lastname,sep='.')

subhashini.g

In [37]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [43]:
s2=input("enter a string:")
for i in s2:
    print(i)

enter a string:welcome
w
e
l
c
o
m
e

In [47]:
for i in 'congratulations':
    print(i,end=' ')

c o n g r a t u l a t i o n s

In [53]:
n=int(input("enter a number"))
if n%2==0:
    print(n,"is even")
else:
    print(n,"is odd")

enter a number78
78 is even

In [55]:
n=int(input("enter a number"))
if n>0:
    print(n,"is positive")
if n<0:
    print (n,"is negative")
if n==0:
    print(n,"is zero")

enter a number5
5 is positive

In [61]:
n=int(input("enter a number"))
if n>0:
    print(n,"is positive")
elif n<0:
    print (n,"is negative")
else:
    print("zero")

enter a number8
8 is positive

In [74]:
n=int(input("enter a number"))
if n%2==0:
    print(n,"is even")
    if n%8==0:
        print(n,"is multiple of 8 ")
    else:
        print(n,"is not multiple of 8")
        
else:
    print(n,"is odd")
    if n%7==0:
        print(n,"is multiple of 7 ")
    else:
        print(n,"is not multiple of 7")

enter a number67
67 is odd
67 is not multiple of 7

In [83]:
n=int(input("enter a number"))
if n%2==0 and n%8==0:
    print(n,"even and divisible by 8")

elif n%2==1 and n%7==0:
    print(n,"odd and divisible by 7")
else:
    print("not satisfied anyone")

enter a number56
56 even and divisible by 8

In [86]:
for i in range(1,11):
    if i%2==0:
        print(i,end=' ')

2 4 6 8 10

In [90]:
for i in range(7,1000,7):
    print(i,end=' ')

7 14 21 28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140 147 154 161 168 175 182 189 196 203 210 217 224 231 238 245 252 259 266 273 280 287 294 301 308 315 322 329 336 343 350 357 364 371 378 385 392 399 406 413 420 427 434 441 448 455 462 469 476 483 490 497 504 511 518 525 532 539 546 553 560 567 574 581 588 595 602 609 616 623 630 637 644 651 658 665 672 679 686 693 700 707 714 721 728 735 742 749 756 763 770 777 784 791 798 805 812 819 826 833 840 847 854 861 868 875 882 889 896 903 910 917 924 931 938 945 952 959 966 973 980 987 994

In [95]:
for i in range(994,6,-7):
    print(i,end=' ')

994 987 980 973 966 959 952 945 938 931 924 917 910 903 896 889 882 875 868 861 854 847 840 833 826 819 812 805 798 791 784 777 770 763 756 749 742 735 728 721 714 707 700 693 686 679 672 665 658 651 644 637 630 623 616 609 602 595 588 581 574 567 560 553 546 539 532 525 518 511 504 497 490 483 476 469 462 455 448 441 434 427 420 413 406 399 392 385 378 371 364 357 350 343 336 329 322 315 308 301 294 287 280 273 266 259 252 245 238 231 224 217 210 203 196 189 182 175 168 161 154 147 140 133 126 119 112 105 98 91 84 77 70 63 56 49 42 35 28 21 14 7

In [98]:
for i in range(99,50,-2):
    print(i,end=' ')

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51

In [101]:
for i in range(50,99,2):
    print(i,end=' ')

50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [1]:
i=1
while i<=10:
    print(i,end =' ')
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [3]:
i=1
while i<=10:
    print(i,end =' ')
    i=i+2

1 3 5 7 9

In [5]:
i=3
while i<=100:
    print(i,end=' ')
    i=i+3

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [6]:
i=99
while i>=3:
    print(i,end=' ')
    i=i-3

99 96 93 90 87 84 81 78 75 72 69 66 63 60 57 54 51 48 45 42 39 36 33 30 27 24 21 18 15 12 9 6 3

In [34]:
#Amstrong Number
n=int(input("enter a value:"))
num=n
sum=0
while n>0:
    r=n%10
    sum=sum+r*r*r;
    n=n//10
    
if sum==num:
    print(num,"is amstrong")
else:
    print(num,"is not amstrong")

enter a value:153
153 is amstrong

In [37]:
#Palindrome Number
n=int(input("enter a value:"))
num=n
sum=0
while n>0:
    r=n%10
    sum=sum*10+r;
    n=n//10
    
if sum==num:
    print(num,"is palindrome")
else:
    print(num,"is not palindrome")

enter a value:12
12 is not palindrome

In [ ]:
#Perfect Number
n=int(input("enter a value:"))
num=n
sum=0
i=1
while i<n:
    if n%i==0:
        sum=sum+i
        i=i+1
if sum==num:
    print(num,"is perfect")
else:
    print(num,"is not perfect")

enter a value:6

In [3]:
#Factorial of a given number
n=int(input("enter a value"))
i=1
fact=1
while i<=n:
    fact=fact*i;
    i=i+1
print("factorial of a given number is",fact)

enter a value6
factorial of a given number is 720