# h1

## h2

### h3

**bold**

*welcome to italic text*

>blockquote

>hello

# ordered list

1. list1
2. list2

# unordered list

- list1

- list2

'code'

---

---

[link](https://www.markdownguide.org/cheat-sheet)

![alt text](pythonimage.jpg)

# List

In [1]:
mylist=[]
mylist=list()

In [3]:

names=["sai","ram"]
type(names)

['sai', 'ram']

### Finding number of items in a list

In [5]:
len(names)

2

### accessing items from list

In [6]:
names[0]

'sai'

In [7]:
names[1]

'ram'

In [9]:
names[-1]

'ram'

In [10]:
names

['sai', 'ram']

### List Methods

1. append("new item")

  .to add new item in the available list.

In [11]:
names.append("uma")

In [12]:
names

['sai', 'ram', 'uma']

In [14]:
new_persons=['gopi','srinu']

In [15]:
names.append(new_persons)

In [16]:
names

['sai', 'ram', 'uma', ['gopi', 'srinu']]

In [17]:
len(names)

4

In [18]:
names.append(new_persons[0])

In [19]:
names

['sai', 'ram', 'uma', ['gopi', 'srinu'], 'gopi']

In [20]:
names.extend(new_persons)

In [21]:
names

['sai', 'ram', 'uma', ['gopi', 'srinu'], 'gopi', 'gopi', 'srinu']

In [22]:
names=["sai","uma"]
new_persons=["gopi","srinu"]

In [23]:
names.extend(new_persons)

In [24]:
names

['sai', 'uma', 'gopi', 'srinu']

## copy()
 > take the new backup of available list

In [4]:
sai=[40,50,60]
uma=sai.copy()

In [29]:
sai,uma

([40, 50, 60], [40, 50, 60])

# replace

In [30]:
names=["sai","uma"]
names

['sai', 'uma']

In [31]:
names[0]="ram"

In [32]:
names

['ram', 'uma']

In [33]:
dir(names)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [34]:
names=['s','d']
names

['s', 'd']

# clear()
 . to remove all the items in a list

In [35]:
names.clear()

In [36]:
names

[]

In [39]:
names.clear()

In [40]:
names

[]

# count(item)

 .it can search for given item and return the number of occurances in a list

In [41]:
numbers=[1,2,2,4,2,6]
numbers.count(2)

3

In [7]:
numbers=[10,1,20,2,2,[2,5]]
numbers.count(2)

2

# index()
 . return index of first occurance of the item  in list

In [8]:
numbers.index(2)

3

In [45]:
numbers.index(2)

3

# index(item,starting index for searching)

In [49]:
numbers=[1,2,3,1,2,3,4,1,2,3]
numbers.index(3,4)

5

# insert()
  . to add items in a particular position

In [10]:
numbers=[1,2,3,5,6]
numbers.insert(3,4)
numbers

[1, 2, 3, 4, 5, 6]

# insert(index,item)
  . if index available add the item in that position ,if index is not available then add item in end of list

In [51]:
numbers.insert(100,7)
numbers

[1, 2, 3, 4, 5, 6, 7]

# pop()
 . to remove item from list in last position
 .to remove element in a specified position

In [9]:
numbers.pop(6)
numbers

IndexError: pop index out of range

In [59]:
numbers.pop()

60

# remove(item)
 . to remove specified element from list

In [55]:
numbers.remove(5)
numbers

[1, 2, 3, 4, 6]

In [60]:
numbers.remove(100)

ValueError: list.remove(x): x not in list

# reverse()
 . to print elements in reverse order

In [56]:
numbers.reverse()
numbers

[6, 4, 3, 2, 1]

# sort()
 . to print numbers in sorting order

In [58]:
numbers=[50,60,10,30]
numbers.sort()
numbers

[10, 30, 50, 60]

In [61]:
numbers

[10, 30, 50]

In [62]:
numbers=[20,30,10,5,35]
numbers.sort()
numbers.reverse()
numbers

[35, 30, 20, 10, 5]

In [64]:
numbers=[20,30,10,5,35]
numbers.sort(reverse=True)
numbers

[35, 30, 20, 10, 5]

In [65]:
for i in numbers:
    print(i)

35
30
20
10
5

In [66]:
total=0
for i in numbers:
    total=total+i
print(total)

100

# find the name of student who got highest marks

In [68]:
students=[["sai",30,40,50],["ram",40,50,60]]

In [71]:
name=""
total_marks=0
for i in students:
    marks=i[1:] #[30,40,50]
    student_total=sum(marks)
    if student_total>total_marks:
        name=i[0]
        total_marks=student_total
print(name)

ram

In [82]:
mylist=[[10,20],[45,30],[30,15]]
for i in mylist:
    i.reverse()
mylist.sort()
for i in mylist:
    i.reverse()
print(mylist)

[[30, 15], [10, 20], [45, 30]]

# Tuples,()

In [83]:
mytuple=()
mytuple=tuple()

In [84]:
mytuple=(10,30,"sai",True)
mytuple.count(10)

1

In [85]:
mytuple[-1]

True

# index

In [86]:
mytuple.index(10)

0

In [87]:
mytuple.index(100)

ValueError: tuple.index(x): x not in tuple

In [89]:
sum(1,2,3)

TypeError: sum expected at most 2 arguments, got 3

In [92]:
numbers=(10,20,30,40)
max(numbers)

40

In [93]:
min(numbers)

10

# list slicing

In [94]:
numbers=[3,4,5,6,7,8]
numbers[0:3]

[3, 4, 5]

In [95]:
numbers[0:5:2]

[3, 5, 7]

In [96]:
numbers[:]

[3, 4, 5, 6, 7, 8]

In [97]:
numbers[:1]

[3]

In [98]:
numbers[1:]

[4, 5, 6, 7, 8]

In [99]:
numbers[5:1:-1]

[8, 7, 6, 5]

In [100]:
numbers[::-1]

[8, 7, 6, 5, 4, 3]

In [101]:
name="sairam"
name[::-1]

'marias'

In [102]:
name

'sairam'

# Strings

In [104]:
name="python programming"
name[0]

'p'

In [106]:
name[5:10]

'n pro'

## String methods

1.startwith('substring')

In [109]:
name.startswith('python')

True

2.endswith(substring)

In [110]:
name.endswith('g')

True

### upper()

In [111]:
name.upper()

'PYTHON PROGRAMMING'

In [112]:
name

'python programming'

## lower()

In [115]:
name.lower()

'python programming'

# islower()

In [116]:
name="python"
name.islower()

True

# isupper()

In [117]:
name='PYTHON'
name.isupper()

True

# isdigit()

In [118]:
name='1234'
name.isdigit()

True

In [120]:
'sai123'.isdigit()

False

In [121]:
'pytHon'.swapcase()

'PYThON'

## isalpha()

In [122]:
name='python'
name.isalpha()

True

In [124]:
name='pyth on12'
name.isalpha()

False

In [12]:
name= "i am from ongole"
name.split(' ')

['i', 'am', 'from', 'ongole']

In [13]:
name.split('m')

['i a', ' fro', ' ongole']

In [132]:
words=['i','am','from','ongole']
' '.join(words)

'i am from ongole'

In [133]:
'@'.join(words)

'i@am@from@ongole'

In [134]:
name='           hello           '
name.strip()

'hello'

In [135]:
name.lstrip()

'hello           '

In [136]:
name.rstrip()

'           hello'

In [32]:
i='done'
n=input("enter a value:") 
while n!=i:
    n=input("enter a value:") 
    print(n)

enter a value:sai
enter a value:10
10
enter a value:30
30
enter a value:lakshmi
lakshmi
enter a value:40
40
enter a value:ram
ram
enter a value:done
done

In [45]:
items=[]
i='done'
n=input("enter a value:")
while n!=i:
    items.append(n)
    n=input("enter a value:")
    print(n)

enter a value:sai
enter a value:done
done

In [4]:
items

['sai', '10', '30', 'lakshmi', '40', 'ram']

In [41]:
marks=[]
for i in items:
    if i.isdigit():
        print(i)
        marks.append(i)

10
30
40

In [42]:
marks

['10', '30', '40']

In [43]:
max(marks)

'40'

In [44]:
min(marks)

'10'