# sum of numbers in a list using functions

In [5]:
mylist=[]
n1=int(input())
n2=int(input())
def add(n1,n2):
    for i in range(n1,n2+1):
        mylist.append(i)
    print(mylist)
    return sum(mylist)
add(n1,n2)

1
5
[1, 2, 3, 4, 5]

15

# creating list using functions

In [45]:

def li():
    l=[]
    for i in range(0,5):
        i=int(input())
        l.append(i)
    return l
    
li()

1
2
3
4
5

[1, 2, 3, 4, 5]

## leap year using functions

In [21]:
n=int(input())
def leap(n):
    if n%4==0 and n%100!=0 or n%400==0:
        print("leap year")
        #return True
    else:
        print("not leap year")
        #return False
leap(n)

1990
not leap year

False

# leap years in agiven range

In [1]:
def leap(y):
    if y%4==0 and y%100!=0 or y%400==0:
        print(y,"leap year")
    else:
        print(y,"not leap year")
            
            
            
n1=int(input())
n2=int(input())
for y in range(n1,n2+1):
    leap(y) #function calling

1
20
1 not leap year
2 not leap year
3 not leap year
4 leap year
5 not leap year
6 not leap year
7 not leap year
8 leap year
9 not leap year
10 not leap year
11 not leap year
12 leap year
13 not leap year
14 not leap year
15 not leap year
16 leap year
17 not leap year
18 not leap year
19 not leap year
20 leap year

# Reverse  a string

In [11]:

def reverse():
    s1=s[::-1]
    print(s1)
s=input()
reverse()

khd
dhk

# find number is given range or not

In [39]:
   
def checknum(n,n1):
    if n1 in range(1,n+1):
        print(n1,"is in given range")
    else:
        print(n1,"not in a range")
    
n=int(input("enter range"))
n1=int(input("enter a number"))
checknum(n,n1)

enter range4
enter a number3
3 is in given range

In [12]:
def checknum():
    if n>=lb and n<=ub:
            print(n,"is in given range")
    else:
            print(n,"not in a range")
            
lb=int(input("enter starting range"))    
ub=int(input("enter ending range"))
n=int(input("enter a number"))
checknum()

enter starting range45
enter ending range50
enter a number43
43 not in a range

# even numbers from given list

In [23]:
list1=[]
n=int(input())
for i in range(1,n+1):
    list1.append(i)
list1

5

[1, 2, 3, 4, 5]

In [27]:
def even(i):
    if i%2==0:
        print(i)
for i in list1:
    if even(i)==1:
        print(i)
even(i)

2
4

In [30]:
list1=[]
n=int(input())
for i in range(1,n+1):
    list1.append(i)
    def even(i):
        if i%2==0:
            return 1
for i in list1:
    if even(i)==1:
        print(i)
even(i)

20
2
4
6
8
10
12
14
16
18
20

1

# factorial using functions

In [36]:
n=int(input())
def factorial(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact

factorial(n)

5

120

In [38]:
factorial(6)

720

# count no of upper and lowercase letters in a string

In [13]:
s=input()


def scount(s):
    ucount=0
    lcount=0
    for i in s:
        if (i.isupper()):
            ucount=ucount+1
        if (i.islower()):
            lcount=lcount+1
    print(lcount)
    print(ucount)

scount(s)

fggdJHN
4
3